*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: black;
}

/* HEADER */ 
header{
    background-color: #fbbc02;
    height: 150px;
    padding: 15px 15px 15px 40px;
}
.logo{
    width: 300px;
}
nav{
    margin-top: 25px;
    display: flex;
}
nav a{
    text-decoration: none;
}
nav a:link, nav a:visited{
    color: black;
}
i{
    margin-right: 8px;

}

nav a:hover{
    font-weight: bold;
}

header div{
    display: flex;
    justify-content: space-between;
}
/* BANNER */ 
.banner img{
    width: 100%;
}
.login-register{
    margin-left: auto;
    margin-right: 15px;
}

/* MAIN */
.flex-productos{
    display: flex;
    justify-content: space-around;

}

.flex-productos article img{
    width: 100%;
}

.flex-productos article{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}
main section h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.flex-productos article div button{
    background-color: #3583FA;
    color: white;
    border: 0;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
.productos-text-center .img-text-center{
    width: 100%;
}
.productos-text-center{
    position: relative;

}
.productos-text-center span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main hr{
    margin: 20px;
}

/* MODAL */

#modal{
    background-color: #fbbc02;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#modal1 img{
    width: 100%;
}
#modal1 h1{
    text-align: center;
    font-size: 30px;
}
.modal-content{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}
#modal1 form{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
#modal1 form div{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.enviar{
    background-color: #420DA3;
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.imagen{
    text-align: center;
}

@media screen (max-width:768px) {
    .flex-productos{
        margin: 5px 0;
    }
}

footer ul{
    list-style: none;

}
#productosAgregados{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


